.link {
    text-decoration: none;
    color: cyan;
    margin: 10px;
}
.link:hover {
    color: purple;
}
.active {
    color: #e3cca1;
}

.block {
    width: 21px;
    height: 21px;

    margin: 10px;
    background-color: #e58c15;
}

.header {
    display: flex;
    width: 280px;
    transition-duration: 500ms;
    transform: translate(-220px);
}

.header:hover {
    transition-duration: 500ms;
    transform: translate(0);
}